/*
Theme Name: Panthar Child
Theme URI: https://themeim.com/wp/panthar/
Author: Themeim
Author URI:  https://themeforest.net/user/themeim
Description: This is a child theme of Panthar
Version: 1.2.1
Template: panthar
Text Domain:  panthar-child
*/